.wrapper {
  background-color: var(--blue-secondary);
  height: 49px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
}
.input {
  background-color: rgb(206, 227, 228);
  outline: none;
  border: none;
  width: 100%;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgb(147, 147, 147);
  transition: 0.15s all ease-in;
}
.input:focus {
  background-color: rgb(221, 238, 239);
}
.button {
  background-color: rgb(206, 227, 228);
  padding: 10px 10px;
  margin: 0px 10px;
  border: 2px solid rgb(147, 147, 147);
  border-radius: 10px;
  font-weight: 500;
  transition: 0.1s all ease-in;

  outline: none;
}
.button:hover {
  background-color: rgb(221, 238, 239);
}
