.dialog {
  z-index: 10;
  max-width: calc(100% - 10px);
  display: flex;
  align-items: center;
  margin: 1px 5px;
  justify-content: center;
  transition: all 0.2s ease-out;
  border-radius: 8px;
}
.dialog a {
  width: calc(100% - 10px);
  font-size: 17px;
  padding: 15px 0;
  font-weight: 500;
  height: min-content;
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding-left: min(10%, 20px);
  cursor: pointer;
}
.dialog a:first-child {
  margin-top: 3px;
}
/* .dialog a:last-child {
  border-bottom: 2px solid var(--border-color);
} */
.dialog:hover {
  background-color: var(--dialog-background-color);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.33);
  transform: scale(1.03);
}

.dialog.active {
  background-color: var(--blue-secondary);
}

.dialog img {
  margin-left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.dialog p {
  font-size: 14px;
  font-weight: normal;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.last-text-wrapper {
  width: 120px;
}
