.wrapper {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.348);
  margin: 20px;
  border-radius: 15px;
  transition: transform 0.15s ease-in-out;
}

.wrapper:hover {
  transform: scale(1.02);
}

.logo {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 10px;
}
.image {
  width: 90px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.follow-btn {
  background-color: var(--blue-secondary);
  border: none;
  color: var(--gray-primary);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.348);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.follow-btn:disabled {
  background-color: rgb(137, 132, 132) !important;
}

.follow-btn:hover {
  background-color: var(--blue-primary);
  transform: scale(1.05);
}

.info {
  flex: 1 1 70%;
  display: flex;
  justify-content: space-between;
}

.location {
  padding-right: 50px;
}
.location h5 {
  font-size: 14px;
}

.full-name {
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
  width: min-content;
}
.full-name::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000;
  left: 0;
  height: 1px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.full-name:hover::after {
  opacity: 1;
}
.status {
  font-size: 15px;
  width: max-content;
  color: var(--gray-primary);
}
