@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,500,600);
:root {
  --blue-primary: #5fc8df;
}
.app-wrapper {
  display: grid;
  grid-template-areas: "head head" "nav cont";
  grid-template-columns: 1fr 5fr;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 760px) {
  .app-wrapper {
    grid-template-columns: 2fr 7fr;
  }
}
