.dialogs {
  height: max(100%, 100vh - 60px);
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.messages {
  border-left: 2px solid var(--border-color);
  padding-left: min(10%, 30px);
}
.messages div:first-child {
  margin-top: 10px;
}
@media (max-width: 980px) {
  .dialogs {
    grid-template-columns: 5.5fr 10fr;
  }
}
